@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@300;400;500;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  transition: all 0.4s ease;
}

.text-white{
  color: white;
}



body {
  background-color: #F8F9FA;
}

.author {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background-color: #3e3e3e;
  overflow: hidden;
}

.author-img {
  width: 100px;
  height: 100%;
  padding: 2px;
  border-radius: 100%;
}

.active{
    background: rgb(23, 107, 167);
    color: #fcfbfb;
}